@import "tailwindcss";

@theme {
  --color-brand-50: #f6f6f6;
  --color-brand-100: #e7e7e7;
  --color-brand-200: #d1d1d1;
  --color-brand-300: #b0b0b0;
  --color-brand-400: #888888;
  --color-brand-500: #6d6d6d;
  --color-brand-600: #5d5d5d;
  --color-brand-700: #4f4f4f;
  --color-brand-800: #454545;
  --color-brand-900: #3d3d3d;
  --color-brand-950: #262626; /* Dark Charcoal */

  --color-accent-400: #d4af37;
  --color-accent-500: #c5a017;
  --color-accent-600: #aa8809;
}

:root {
  --background: #fafafa; /* Soft neutral background */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111; /* Dark charcoal */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  scroll-behavior: smooth;
}
